<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<title>About</title>
</head>
<body class="container">
    <div class="jumbotron">
        {{>header}}
    </div>
    <p>This site is my first ever Node application. It uses data from darksky.net and mapbox.com</p>
    <div class="card" style="width:400px;">
        <div class="card-body">
            <div class="card-img-top"><img src="/img/tyrion.jpg" alt="Tyrion Lannister"></div>
        </div>
    </div>
    <div class="blockquote-footer float-right">
        {{>footer}}
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>